<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.name + ' '}">Вася </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container py-5">
    <h1 th:text="${user.name + ' ' + (user.lastName==null?'':user.lastName)}">Вася Пупкович</h1>
    <div>
        <label for="gender">Gender: </label>
        <span id="gender" th:text="${ (user.gender==null?'n/a':user.gender)}">мужской</span>
    </div>

    <div>
        <label for="city">From: </label>
        <span id="city" th:text="${city.name}">Moscow</span>
    </div>

    <div>
        <label for="interests">Interests: </label>
        <ul id="interests">
            <th:block th:each="interest : ${interests}">
                <li>
                    <div th:text="${interest.name}">проганье</div>
                </li>
            </th:block>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>