<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container py-5">
    <form action="/register" method="post">
        <input type="hidden" th:field="${user.id}"/>
        <div>
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" th:field="${user.name}"/>
        </div>
        <div>
            <label class="form-label" for="lName">Last name</label>
            <input class="form-control" type="text" id="lName" th:field="${user.lastName}"/>
        </div>
        <div>
            <label class="form-label" for="gender">Gender</label>
            <select class="form-select" th:field="${user.gender}" id="gender">
                <option th:value=null>-</option>
                <option th:value="MALE" th:text="Male"></option>
                <option th:value="FEMALE" th:text="Female"></option>
            </select>
        </div>

        <div>
            <label class="form-label" for="city">City</label>
            <select class="form-select" th:field="${user.cityId}" id="city">
                <option th:each="city: ${cities}" th:value="${city.id}" th:text="${city.name}">
                </option>
            </select>
        </div>

        <div>
            <label for="interestsList">Interests</label>
            <ul id="interestsList">
                <th:block th:each="interest : ${interests}">
                    <li>
                        <input type="checkbox" name="interestsId" th:value="${interest.id}"/>
                        <label th:text="${interest.name}">Интерес</label>
                    </li>
                </th:block>
            </ul>
        </div>

        <button class="btn btn-primary" type="submit" th:action="@{/register}">Register</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>