<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
</head>
<body>

<form action="/register" method="post">
    <input type="hidden" th:field="${user.id}"/>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="${user.name}"/>
    </div>
    <div>
        <label for="lName">Last name</label>
        <input type="text" id="lName" th:field="${user.lastName}"/>
    </div>
    <div>
        <label for="gender">Gender</label>
        <select th:field="${user.gender}" id="gender">
            <option th:value=null>-</option>
            <option th:value="MALE" th:text="Male"></option>
            <option th:value="FEMALE" th:text="Female"></option>
        </select>
    </div>

    <div>
        <label for="city">City</label>
        <select th:field="${user.cityId}" id="city">
            <option th:each="city: ${cities}" th:value="${city.id}" th:text="${city.name}">
            </option>
        </select>
    </div>

    <div>
        <label for="interestsList">Interests</label>
        <ul id="interestsList">
            <th:block th:each="interest : ${interests}">
                <li>
                    <input type="checkbox" name="interestsId" th:value="${interest.id}"/>
                    <label th:text="${interest.name}">Интерес</label>
                </li>
            </th:block>
        </ul>
    </div>

    <button type="submit" th:action="@{/register}">Save</button>
</form>

</body>
</html>